doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Reading & Writing: Our Link to the Past. Our Key to the Future.
    link(rel='stylesheet', href='build/build.css')
  body
    article.deck
      section.title
        hgroup
          h1 Reading & Writing
          h3
            span.line-1 Our Link to the Past.
            span.line-2 Our Key to the Future.
        p.author Dan Allen @mojavelinux
      section.poster
        img(src='images/i-cannot-live-without-books-1.jpg')
      section
        h2 <strong>I</strong>T
      section
        h2 <strong>Information</strong> Technology
      section.poster
        img(src='images/mukerjee_typewriter.jpg')
      section.poster
        img(src='images/chauvet-cave-horses.jpg')
      section.poster
        img(src='images/chauvet-cave-hand.jpg')
      section.poster
        img(src='images/macitosh-iici.jpg')
      section.poster
        img(src='images/clarisworks.png')
      section.poster
        img(src='images/stylewriter-closed.jpg')
      section.poster
        img(src='images/stylewriter.jpg')
      section.poster
        img(src='images/underwood-typewriter-exposition.jpg')
      section
        blockquote
          p The costs of web publishing have declined to almost zero.
          footer Matthew Butterick
      section.poster
        img(src='images/github-pages.png')
      section
        blockquote
          p Printed books are on their way out.
          footer Matthew Butterick
      section.poster
        img(src='images/ereaders-ebook-devices.jpg')
      section.poster
        h2.mask Adapt or die
        img(src='images/adaptive.jpg')
      section.poster
        img(src='images/information_technology.jpg')
      section.poster
        img(src='images/fork-and-fix.png')
      section.poster
        img(src='images/excerpt_emoji_dick.jpg')
      section
        img(src='images/emoji_sentence.jpg', style='width: 275px')
      section
        h2(style='font-size: 5em; color: #633600; margin: 0; padding-top: 0.25em') &#128169;
      section.poster
        img(src='images/think.jpg')
      section.fin
        h2 Merci !
    script(src='build/build.js')
